* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 0 20px; */
}

/* Common button */

.btn {
  display: inline-block;
  padding: 18px 28px;
  border: 1px solid #191a23;
  border-radius: 14px;
  background-color: #191a23;
  color: #ffffff;
  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    transform 0.3s ease;
}

.btn:hover {
  background-color: #b9ff66;
  color: #191a23;
  transform: translateY(-2px);
}

/* Common section title */

.section-title {
  font-size: 40px;
  font-weight: 500;
  color: #191a23;
  line-height: 1.2;
}

/* Common section text */

.section-text {
  font-size: 18px;
  line-height: 1.5;
  color: #717171;
}
